# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
.wrangler
.dev.vars
*.local
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo
node_modules/.tmp
.cf_upload_code.js
